<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Front Page</title>
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/js/frontPage.js}"></script>
</head>
<body>
<div id="userInfoContainer">
    <div id="userInfo">
        <b>Hello <span th:text="*{name}">NA</span>.</b>
        <p>Your Wallet:</p>
        <p>USD: <span th:text="*{wallet.getUsd()}">NA</span>, BTC: <span th:text="*{wallet.getBtc()}">NA</span></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" id="logoutBtn" value="Sign Out"/>
        </form>
    </div>
</div>
<h2>Current Global Value: 1 BTC equals <span th:text="*{BTC}">N/A</span>USD</h2>

<div class="transactionBox" id="sellBox">
    <div class="container">
        <h1>Sell BTC</h1>
        <hr>
        <form action="/transaction/sellBTC">

        <label ><b>Price:</b></label>
        <input type="number" placeholder="Price per BTC" name="price" id="priceBuy" required>

        <label ><b>Amount:</b></label>
        <input type="number" placeholder="Amount of BTC" name="amount" id="amountBuy" required>

        <button type="submit" class="transactionBtn">Sell</button>
        </form>
     </div>
</div>


<div class="transactionBox" id="buyBox">
    <div class="container">
        <h1>Buy BTC</h1>
        <hr>
        <form action="/transaction/buyBTC">
            <label ><b>Price:</b></label>
            <input type="number" placeholder="Price per BTC" name="price" id="priceSell" required>

            <label ><b>Amount:</b></label>
            <input type="number" placeholder="Amount of BTC" name="amount" id="amountSell" required>

            <button type="submit" class="transactionBtn">Buy</button>
        </form>
    </div>
</div>

<div id="orderBook">
    <div class="table-scroll">
        <table id="sellTable">
            <thead>
            <tr>
                <th><span class="text">Price BTC(USD)</span></th>
                <th><span class="text">Amount(BTC)</span></th>
                <th><span class="text">Total Price</span></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="table-scroll">
        <table id="buyTable">
            <thead>
                <tr>
                    <th><span class="text">Price BTC(USD)</span></th>
                    <th><span class="text">Amount(BTC)</span></th>
                    <th><span class="text">Total Price</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
        <input type="submit" id="refresh" onclick="refresh()" value="refresh"/>
</div>

</body>
</html>